* {
    margin: 0;
    padding: 0;
}

/* *****TYPOGRAPHY***** */

html {
    font-size: 14px;
}

/* Header */

.logo h1{
    font-family: 'Lora', sans-serif;
    font-size: 2rem;
}

.logo p {
    font-size: .75rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: .2em;
}

nav a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: .2em;
    text-transform: uppercase;
} 


/* Main */

.article-pic p {
    font-family: 'Ubuntu', sans-serif;
    font-size: .875rem;
    font-weight: light;
}

.article-content h2 {
    font-family: 'Lora', sans-serif;
    font-size: 1.5rem;
}

.article-content p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.125rem;
    font-weight: light;
    line-height: 1.5em;
}

.article-content button {
    font-size: .75rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: .2em;
    display: flex;
}


/* Aside/Sidebar */

.sidebar h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.sidebar p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.125rem;
    font-weight: light;
}

.sidebar h3{
    font-family: 'Lora', sans-serif;
    font-size: 1.5rem;
}


/* Footer */

footer h3{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.125rem;
    font-weight: bold;
}

footer p {
    font-family: 'Ubuntu', sans-serif;
    font-size: .875rem;
    font-weight: light;
}




/* *****LAYOUT + LITTLE OF STYLING***** */


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 2em;
    gap: 1.5em;
}

nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

nav ul li{
    padding: .5em;
}


main,aside{
    padding: 0em 1em;
}

.article-post-featured {
    border-bottom: 1px solid;
}

.article-post, .article-post-featured {
    padding-top: 2em;
    padding-bottom: 1em;
}

.article-pic img{
    width: 100%;
    margin-bottom: 2em;
}

.article-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: .8em 0em;
}


.sidebar{
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 3em 0em;
}

.sidebar img{
    width: 100%; 
}

.sidebar-about-me{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.sidebar-posts{
    display: flex;
    flex-direction: column;
    gap: 2em;
}



footer {
    text-align: center;
    padding: 3em;
}



/* *****STYLING***** */

:root{
    --blue: #143774;
    --grey_70: #707070;
    --grey_EB: #EBEBEB;
}


/* Header + Some Typography*/

header {
    background-color: #F8F8F8;
}

.logo h1{
    color: var(--blue);
}

.logo p {
    color: #1792D2;
}


nav ul {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #717171;
    padding: .3em 0em;
}

nav .currentpage {
    border-bottom: 3px solid;
}


/* Main */

.article-pic p {
    color: var(--grey_70);
}

.article-content h2 {
    color: var(--blue)
}

.article-content p {
    color: var(--grey_70)
}

.article-content button {
    background: none;
    border: none;
    color: #1792D2;
}

/* Sidebar/Aside */

.sidebar-content {
    border: 1em solid var(--grey_EB);
    padding: 1.5em;
}

.sidebar-content h2{
    color: var(--blue);
    text-transform: uppercase;
    letter-spacing: .2em;
}


.sidebar-about-me p {
    color: var(--grey_70);
}

.sidebar-posts h3{
    color: var(--blue);
}

.sidebar-post{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.sidebar-underline {
    border-bottom: 3px solid var(--grey_EB);
    padding-bottom: 1.5em;
}


/* Footer */

footer {
    background-color: var(--blue);
}

footer {
    color: white;
}




/* *****  LAPTOP VERSION >768px  ***** */